name: teaching_bloc
description: A new Flutter project.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: '>=3.0.6 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_bloc: ^8.1.3
  mocktail: ^1.0.0
  equatable: ^2.0.0
  dio: ^5.3.2
  get_it: ^7.6.0
  cupertino_icons: ^1.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  bloc_test: ^9.1.4
  flutter_lints: ^2.0.0

flutter:

  uses-material-design: true


